# Python básico

- Variáveis
- Operadores Aritméticos
- Operadores Relacionais (de comparação)
- Operadores Lógicos
- Função input

## Variáveis

In [ ]:
# var1 recebe o valor 23
var1 = 23

In [ ]:
# print na tela da var1
print(var1)

23

In [ ]:
# var2 recebe o valor 27
var2 = 27

In [ ]:
# print na tela da var2
print(var2)

27

In [ ]:
# print na tela da soma de var1 e var2
print(var1+var2)

50

In [ ]:
# var3 recebe o texto 16
var3 = "16"

In [ ]:
print(var3)

16

In [ ]:
# print na tela da soma de var1, var2 e var3
# Atenção: var1 e var2 são numéricas e var3 é texto
print(var1+var2+var3)

TypeError: ignored

In [ ]:
# var4 recebe o texto 200
var4 = '200'

In [ ]:
print(var4)

200

In [ ]:
# print na tela da soma de var3 e var4
# como são duas variáveis texto, ele concatena
print(var3+var4)

16200

In [ ]:
# print na tela o tipo da variável var1
type(var1)

int

In [ ]:
# print na tela o tipo da variável var2
type(var2)

int

In [ ]:
# print na tela o tipo da variável var3
type(var3)

str

In [ ]:
# print na tela o tipo da variável var4
type(var4)

str

In [ ]:
# var1, var2, var3 recebem os valores
var1, var2, var3 = 1, 2, 3

In [ ]:
# print na tela das variáveis var1, var2, var3
print(var1,var2,var3)

1 2 3

In [ ]:
# criando uma variável texto que recebe um texto
texto = 'Python é uma boa ferramenta'

In [ ]:
print(texto)

Python é uma boa ferramenta

In [ ]:
texto

'Python é uma boa ferramenta'

In [ ]:
x = "UNIVERSIDADE"
y = "UNINOVE"
a = 10
print("Bem vindo à "+x + " " +y + ", ela é nota", a)

Bem vindo à UNIVERSIDADE UNINOVE, ela é nota 10

In [ ]:
# var 5 recebe verdadeiro
var5 = True

In [ ]:
# print na tela o tipo da variável var5
type(var5)

bool

In [ ]:
# Conversão de tipos de dados

print(3.14, int(3.14))
print(3.9999, int(3.9999))
print(3.0,int(3.0))
print(-3.999,int(-3.999))

3.14 3
3.9999 3
3.0 3
-3.999 -3

In [ ]:
x = int(1)   # x irá se transformar em 1
print(x)
y = int(2.8) # y irá se transformar em 2
print(y)
z = int("3") # z irá se transformar em 3
print(z)

1
2
3

In [ ]:
# Float
x = float(1)     # x irá se transformar em 1.0
print(x)
y = float(2.8)   # y irá se transformar em 2.8
print(y)
z = float("3")   # z irá se transformar em 3.0
print(z)
w = float("4.2") # w irá se transformar em 4.2
print(w)

1.0
2.8
3.0
4.2

In [ ]:
# String
x = str("s1") # x irá se transformar em 's1'
print(x)
y = str(2)    # y irá se transformar em '2'
print(y)
z = str(3.0)  # z irá se transformar em '3.0'
print(z)

s1
2
3.0

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
print(type(var1))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
# Arredondar valores

soma = 0.1 + 0.2
print(soma)
print("%.2f" % soma)
print(round(soma, 2))
print("{0:.2f}".format(soma))

0.30000000000000004
0.30
0.3
0.30

## Operadores aritméticos

In [ ]:
# Adição
23 + 27

50

In [ ]:
# Subtração
27 - 23

4

In [ ]:
# Subtração
23 - 27

-4

In [ ]:
# Multiplicação
23 * 27

621

In [ ]:
# Divisão
23 / 27

0.8518518518518519

In [ ]:
# Potência
23**2

529

In [ ]:
# Resto de divisão
10%3

1

## Operadores Relacionais (ou de comparação)

In [ ]:
# Sinal de igual no Python é atribuição (recebe).
# Neste caso estamos atribuindo o valor 23 a variável dois
dois = 23
print(dois)

23

In [ ]:
# Duplo igual (==) é comparação, neste caso o conteúdo da variável dois é igual a 23
# Deve retornar true
dois == 23

True

In [ ]:
# Exclamação e símbolo de igual no Python é comparação para diferente
# Neste caso o conteúdo da variável dois é diferente de 23.
dois != 23

False

In [ ]:
# Comparação de maior e menor da mesma forma que outras linguagens usando < para menor e > para maior
dois < 23

False

In [ ]:
# Comparação de maior e menor (igual) da mesma forma que outras linguagens
# Usando <= para menor ou igual e >= para maior ou igual
dois <= 23

True

In [ ]:
# Comparação de maior e menor da mesma forma que outras linguagens usando < para menor e > para maior
dois > 23

False

In [ ]:
# Comparação de maior e menor da mesma forma que outras linguagens
# Usando <= para menor ou igual e >= para maior ou igual
dois >= 23

True

## Operadores lógicos

In [ ]:
# Variável Mentira recebe False
Mentira = False

In [ ]:
# Variável Verdade recebe True
Verdade = True

In [ ]:
# Verdade E Mentira
Verdade and Mentira

False

In [ ]:
# Verdade E Mentira
Verdade & Mentira

False

In [ ]:
# Verdade OU Mentira
Verdade or Mentira

True

In [ ]:
# Verdade OU Mentira
Verdade | Mentira

True

In [ ]:
# Negação
not Mentira

True

In [ ]:
# Negação
not Verdade

False

In [ ]:
# Negação com o operador AND
Verdade and not Mentira

True

In [ ]:
# Combinação de negação com operador AND
not Verdade and not Mentira

False

## Função input

In [ ]:
print("dados do aluno")
nome = input("informe seu nome: ")
idade = input ("informe sua idade: ")
print (nome, "você tem", idade, "anos!!")

dados do aluno
informe seu nome: Solange
informe sua idade: 35
Solange você tem 35 anos!!

In [ ]:
# Exemplos de comentário

# Criando x = 1
x=1
print(x)

y=1 # Criando y = 1
print(y)

"""
Criando z = 1
"""
z=1
print(z)

1
1
1